<mat-toolbar color="primary">
  <button
    routerLink="/"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>store</mat-icon>
  </button>
  <span>Shopping Mart</span>
  <button mat-button [matMenuTriggerFor]="menu">Menu</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/product">Product</button>
    <button mat-menu-item routerLink="/category">Category</button>
  </mat-menu>

  <button
    mat-button
    color="accent"
    routerLink="/admin"
    *ngIf="loginService.roleMatch(['Admin'])"
  >
    Admin
  </button>
  <button
    mat-button
    color="accent"
    routerLink="/user"
    *ngIf="loginService.roleMatch(['User'])"
  >
    User
  </button>

  <span class="spacer"></span>

  <button *ngIf="!isLoggedIn()" mat-icon-button routerLink="/login">
    <mat-icon>login</mat-icon>
  </button>
  <button *ngIf="isLoggedIn()" mat-icon-button color="warn" (click)="logout()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
