<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>store</mat-icon>
  </button>
  <span>Shopping Mart</span>
  <button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/product">Product</button>
  <button mat-menu-item routerLink="/category">Category</button>
</mat-menu>

  <span class="example-spacer"></span>

  
</mat-toolbar>